<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav position="end">
    <app-side-bar (sideBarClose)='sidenav.close()' [sideBarLoad]="loadNotifications"></app-side-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sideBarToggle)='sidenav.toggle();loadNotificationsData()' ></app-header>
    <div class="background">
      <router-outlet> </router-outlet>
    </div>
    <app-audio-player></app-audio-player>
    <app-loader *ngIf="showPageLoader"></app-loader>
  </mat-sidenav-content>
</mat-sidenav-container>