/* .alert-message {
    line-height: normal;
    font-size: 14px;
}

.alert-btn {
    float: right;
}

.alert-header {
    text-align: center;
    margin-bottom: 20px;
} */

.btn--alt {
    margin-top: 10px;
}

div {
    text-align: center;
}