mat-form-field {
    width: 100%;
    margin-bottom: 30px;
}

.btn--red {
    margin-left: 10px;
}
.icon{
    border: solid 4px #F52C2C;
    width: 18px;
    height: 18px;
    border-radius: 100%;   
    background: #fff;   
}
.sub_cont {
    display: flex;
    align-items: center;
}
.sub_head {
    margin-left: 32px;
    margin-top: 5px;
}
.icon_heading {
    margin-left: 16px;
    margin-top: 8px;
}
.icon_heading h4 {
    font-size: 18px;
}
.right-sec {
    float: right;
    width: 93%;
}
.clear{
    clear: both;
}