.set__container {
    width: 100%;
    display: flex;
}

.set__sidebar {
    width: 13%;
    border-right: 1px solid #ddd;
    padding: 10px 20px 10px 0;
}

.set__sidebar-item {
    margin: 10px 0;
    font-weight: 500;
}

.set__sidebar-item:hover {
    color: #3c8dbc;
    cursor: pointer;
}

.set__sidebar-item.active {
    color: #3c8dbc;
}

.set__main {
    width: 87%;
    padding: 10px 20px;
}