<section class="w__content">
    <div class="lt">
        <div class="lt__img">
            <img src="../../../assets/images/wavelength-logo-blue.png" alt="">
        </div>
        <div class="lt__card">
            <mat-card class="mat-card"> 
                <p class="lt__p">You have been successfully logged out.</p>
                <div class="lt__btn-div">
                    <button mat-raised-button="" (click)="onLogin()" class="mat-raised-button btn--blue">
                        <span class="mat-button-wrapper">Login</span>
                        <div class="mat-button-ripple mat-ripple" matripple=""></div>
                        <div class="mat-button-focus-overlay"></div>
                    </button></div>
            </mat-card>
        </div>
    </div>
</section>